@use 'variaveis';

.sub {
    img {
        max-width: 570px;
        border-radius: 25px;
    }

    text {
        font-weight: bold;
    }

    &__text-color {
        animation: textColor 4s infinite;
    }
}

@keyframes textColor {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: yellow;
    }
    100% {
        color: red;
    }
}